/* CustomSlider.css */

.custom-slider {
    position: relative;
    overflow: hidden;
    background-color: #252549;
    margin-top: 5rem;
}

.slider-container {
    display: flex;
    transition: transform 0.8s linear;
    background-color: #252549;
}

.slide {
    flex: 0 0 25%; /* Set the width to 33.33% to display 3 slides at a time */
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: #000000;
    margin: auto;
    text-align: center;
    transition: opacity 0.8s ease-in;
    background-color: #d9d9d9  ;
    min-height: 450px;
    width:200px;
    border-radius: 1.5rem;
    margin-bottom: 10rem;
    margin-top: 5rem;


}

.slide.active {
    opacity: 1;
}

.image-container {
    margin: auto;
    max-width: 300px;
    margin-bottom: 2rem;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    padding: 10px;
    background-color: transparent;
    width: auto;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}
