.work-section-wrapper {
    box-shadow: #000000;
   background-color: #5B7553;
  }
.work-section-top p {
    text-align: left;
    max-width: 600px !important;
    color: #D9D9D9;
}
.work-section-top h1 {
    max-width: 700px !important;
}

.box-info {
    width: 400px;
    height: 450px;
    background-color: #d9d9d9;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem 2rem;
    margin-bottom: 10rem;
    margin-top: 5rem;
  }
  .container-box {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: auto;
    background-color: #5B7553;

  }

  .search-button {
    padding: 1rem 2.5rem;
    background-color: #7681B3;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: 0.3s;
    width: 105rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

  }
  .search-button:hover {
    background-color: #636fa3;
    transform: scale(1.1);
  }
  .icon-wrapper{
    display: inline-flex;
    align-content: center;
    margin-left: 5rem;
  }
 
  
