
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif !important; 
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .App {
    min-height: 100vh;
    width: 85vw;
    max-width: 1900px;
    margin: 15rem auto;
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .content-regular {
    font-family: "Cormorant Garamond", serif !important;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
  }
 
  
  .cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .heading-medium-italic {
    font-family: "Cormorant Garamond", serif !important;
    font-weight: 500;
    font-style: italic;
  }
  
  .cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .heading-bold {
    font-family: "Cormorant Garamond", serif !important;
    font-weight: 800;
    font-style: italic;
  }

  .cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
  }
  .content-wrapper{
    max-width: 1500px; /* Adjust as needed */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px; /* Add some padding around the content */ 
    background-color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
   }
   .abstract-content-wrapper {
    max-width: 1500px; /* Adjust as needed */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px; /* Add some padding around the content */ 
    background-color: white;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-bottom: 5rem;
  }
  
  .abstract-text {
    max-width: 75%;
    margin: 0 auto; /* Center the text horizontally */
    text-align: justify; /* Center the text horizontally within the container */
  }
  
  .abstract-heading-bold {
    font-family: "Cormorant Garamond", serif !important;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 5rem;
    font-size: 5rem;
    text-align: center;
  }
  
  .abstract-content-regular {
    font-family: "Cormorant Garamond", serif !important;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
  }
  
    .content-wrapper p {
      font-size: 30px;
      line-height: 1.5;
      margin-bottom: 2rem;
      font-weight: 600;
    }
    .content-wrapper h1 {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
    .content-wrapper img {
      max-width: 100%;
      height: auto;
    }
  .blog-image{
    text-align: center; /* Center the image horizontally */
    background-color: #d1d1d1;
    padding: 20px;
    margin-bottom: 1rem;
  }
  
  body {
    background-color: #d9d9d9;
  }
  .pdf-view {
    padding: 50px;
    margin: auto;
    background-color: #d9d9d9;
  }
  canvas.react-pdf__Page__canvas {
    margin: auto;
    margin-bottom: 50px;
}
.react-pdf__Page {
  width: 300px;
  margin: auto;
}  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    background-color: #2A3236;
  }

  .navbar-menu-container {
    display: none;
  }
  .navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: #d9d9d9;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .primary-button {
    padding: 0.9rem 1.75rem;
    background-color: #001524;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    color: #D9D9D9;
  }
  .trans-button {
    padding: 0.9rem 1.75rem;
    background-color: #001524;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    color: #D9D9D9;
    margin-right: 1rem;
  }
  .navbar-cart-icon {
    font-size: 1.15rem;
  }
  .primary-button:hover {
    background-color: #04253d;
  }
  .navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .home-banner-container {
    position: relative;
    display: flex;
  }
  .home-bannerImage-container {
    position: absolute;
    top: -100px;
    right: -170px;
    z-index: -2;
    max-width: 700px;
  }
  .home-image-section {
    max-width: 600px;
    flex: 1;
  }

  .home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Horizontally center the content */
    margin: 0 auto; /* Center the container itself within its parent */
    padding: 10rem;
    background: url('C:\Users\Awwaab\OneDrive\Desktop\react\code\src\Assets\haikei2.svg') center/cover no-repeat;
  }
  
  .primary-heading {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #000000;
    text-align: center;
    max-width: 100%; /* Ensure the heading takes the full width */
  }
  .secondary-heading {
    font-weight: 400;
    font-size: 3rem;
    color: #000000;
    text-align: center;
    margin: auto;
    max-width: 100%; /* Ensure the heading takes the full width */
    /* text-shadow: -1px -1px 0 #ffffff,  
                 1px -1px 0 #ffffff,
                 -1px 1px 0 #ffffff,
                 1px 1px 0 #ffffff; */
  }
  
  .secondary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #001524;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    text-align: center;
  }

  .primary-navbar {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #9bc38f;
    text-align: center;
    font-weight:400;
    max-width: 100%; /* Ensure the heading takes the full width */
    margin-bottom: 0.5rem;
  }

  .primary-heading-work {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #000000;
    text-align: center;
    max-width: 100%; /* Ensure the heading takes the full width */
    margin-top: 5rem;
  }

  @keyframes intro {
    from{
      transform: scale(0.7)
    }
    to{
      transform: scale(1)
    }
  }
  
  .primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #001524;
    margin: 1.5rem 0rem;
    text-align: center;
  }
  .getstarted-text {
    font-size: clamp(1.5rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #001524;
    margin: auto;
    text-align: center;
  }
  .animateHeader {
    animation: intro;
    animation-duration: 3s;
    /* animation-iteration-count: 2; */
    animation-delay: 0.2s;
  }
  
  .secondary-button {
    padding: 1rem 2.5rem;
    background-color: #5B7553;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem; /* Adjust the margin as needed */
    transition: 0.3s;
    width: 270px;

  }
  .about-button {
    padding: 1rem 2.5rem;
    background-color: #5B7553;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    width: 270px;
    margin: auto;
    margin-top: 4rem; /* Adjust the margin as needed */

  }
  .bot-button {
    padding: 1rem 2.5rem;
    background-color: #04253d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: 0.3s;
    width: 75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

  }
  .bot-button:hover {
    background-color: #193f57;
    transform: scale(1.1);
  }
  .link-in{
    transition: 0.3s;
    color: white;
    text-decoration: none;
  }

  .link-in-buttons{
    transition: 0.3s;
    color: white;
  }

  .link-in-buttons:hover {
    color: #000000;
  }
  .secondary-button:hover {
    background-color: #ffffff;
    transform: scale(1.1);
  }
  .about-button:hover {
    background-color: #ffffff;
    transform: scale(1.1);
  }
  .about-section-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Ensure full height of container */
    margin-top: 10rem;
    margin-bottom: 7rem;
  }

  .about-section-text-container {
    text-align: center; /* Center text horizontally */
  }
  
  .about-heading {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #000000;
    margin-bottom: 1.5rem; /* Adjust as needed */
  }
  
  .about-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: #001524;
    margin-bottom: 1.5rem; /* Adjust as needed */
    margin-top: .5rem;
  }
  .connect-section-container {
    padding-top: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
    background-image: url('./Assets/connect.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }
  .connect-section-text-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .connectme-button {
    padding: 1rem 2.5rem;
    background-color: #4d6489;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin: auto;
    width: 370px;
    margin-top: 2.5rem;
  }
  .connectme-button:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    color: #000000;
  }
  .connect-buttons-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .primary-subheading {
    font-weight: 700;
    color: #000000;
    font-size: 1.15rem;
  }
  .about-buttons-container {
    margin-top: 2rem;
    display: flex;
  }
  .watch-video-button {
    margin-left: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: #484848;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .watch-video-button svg {
    font-size: 3rem;
    margin-right: 1rem;
  }
  .contact-page-wrapper h1 {
    max-width: 900px !important;
  }
  .contact-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 6rem 0rem;
  }
  .contact-form-container {
    background-color: white;
    max-width: 700px;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5rem;
  }
  .contact-form-container input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
  }
  .footer {
    background-color: #2A3236;
    padding: 40px 0;
    color: #d9d9d9;
    font-family: Arial, sans-serif;
    padding-top: 2rem;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-column:last-child {
    margin-right: 0;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-disclaimer {
    text-align: center;
    margin-top: 4rem;
    font-size: 14px;
    color: #bfbfbf;
  }
  
 

  #bp-web-widget .bpw-header-container {
    /* sets the border radius of the element */
    border-radius: var(--spacing-large);
    /* sets the background color of the element */
    background: #d9d9d9;
    /* sets the border of the element */
    border: 1px solid var(--zinc-200);
    /* sets the border radius of the element (repeated declaration) */
    border-radius: var(--spacing-medium);
    /* sets the padding of the element */
    padding: var(--spacing-large) var(--spacing-x-large);
}

  .work-section-wrapper {
    box-shadow: #000000;
   background-color: #5B7553;
  }
  .useful-section-wrapper {
    background-color: #001524;
    margin-top: 15rem;
  }
  .work-section-top p {
    text-align: left;
    max-width: 600px !important;
    color: #D9D9D9;

  }

  .useful-section-top p {
    text-align: center;
    max-width: 600px !important;
    color: #D9D9D9;

  }
  .work-section-top h1 {
    max-width: 700px !important;
  }
  .work-section-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .useful-section-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .work-section-info {
    width: 400px;
    min-height: 350px;
    background-color: #D9D9D9;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem 2rem;
    margin-bottom: 10rem;
  }
  .useful-section-info {
    width: 400px;
    min-height: 350px;
    background-color: #D9D9D9;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    color: #505050;
    margin: 1rem 2rem;
    cursor: pointer;
    margin-bottom: 10rem;
    gap: 2rem;
  }
  .back-button {
    padding: 0.9rem 1.75rem;
    background-color: #001524;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    color: #D9D9D9;
    margin-left: 1rem;
}
.back-button:hover{
  background-color: #072941;
}

  .work-section-info h2 {
    margin: 1rem 0rem;
  }
  .work-section-bottom {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .useful-section-bottom {
    background-color: #001524;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .work-section-info p {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  .link-in-buttons {
    text-decoration: none;
    color: #000000;
  }
  .card-para {
    text-align: center;
    justify-content: center;
  }
  
  @media (max-width: 1000px) {
    .navbar-links-container a {
      margin-right: 1rem;
      font-size: 1rem;
    }
    .primary-button {
      font-size: 1rem;
    }
    .home-bannerImage-container {
      max-width: 600px;
    }
  }
  @media (max-width: 800px) {
    .nav-logo-container {
      max-width: 700px;
      display: flex;
    }
    .navbar-links-container {
      display: none;
    }
    .navbar-menu-container {
      display: flex;
    }
    .home-bannerImage-container {
      max-width: 450px;
    }
    .home-banner-container,
    .about-section-container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
    .about-section-container {
      flex-direction: column;
    }
    .about-section-image-container {
      width: 100%;
      max-width: 400px;
    }
    .primary-heading {
      text-align: left;
      max-width: 90%;
    }
    .primary-text {
      text-align: center;
      max-width: 80%;
    }
    .about-section-text-container {
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
    }
    .secondary-button {
      font-size: 1rem;
      padding: 0.8rem 2rem;
      cursor: pointer;
    }
    .about-section-container {
      margin-top: 5rem !important;
    }
    .about-buttons-container {
      justify-content: center;
      flex-direction: column;
    }
    .primary-subheading {
      text-align: center;
    }
    .watch-video-button {
      margin-left: 0rem !important;
      margin-top: 1rem;
      font-size: 1rem !important;
    }
    .watch-video-button svg {
      margin-right: 0.5rem !important;
    }
    .about-section-image-container {
      margin-right: 0rem !important;
    }
    .work-section-wrapper {
      margin-top: 5rem !important;
    }
    .work-section-bottom {
      margin-top: 1rem !important;
    }
    .contact-form-container {
      padding: 0.5rem !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1rem !important;
    }
    .contact-form-container input {
      font-size: 1rem !important;
      max-width: 100%;
      padding: 0.5rem 1rem !important;
      margin-bottom: 0.8rem !important;
      text-align: center;
    }
    .footer-wrapper {
      flex-direction: column;
    }
    .footer-section-two {
      flex-direction: column;
      margin-top: 2rem;
    }
    .footer-section-columns {
      margin: 1rem 0rem;
    }
    .App {
      max-width: 95vw;
    }
  }
  @media (max-width: 600px) {
    .home-bannerImage-container,
    .about-background-image-container {
      display: none;
    }
  }